<%= form_with model: Post do |form| %>
  <div>
    <%= form.text_field :title, placeholder: 'Post Title' %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: 'Enter post.......', size: '29x14' %>
  </div>
  <div>
    <%= form.submit "Add Post" %>
  </div>
<% end %>
